<!DOCTYPE html>
<html>
    <head>
        <title>עירוניה 2021-2022</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="landing">
            <div class="landing-inner" dir="rtl">
                <img src="/images/amuta-logo.png" class="logo-img lg">
                <img src="/images/ironia-logo.png" class="logo-img">
                <p>חברות בעמותה לעונת 2021/22</p>
                <h1>מתחילים בקרוב!</h1>
                <div class="countdown" dir="rtl"></div>
                <div class="buttons">
                    <button class="btn-animated">מסלולי הצטרפות</button>
                    <button class="btn-animated">על העמותה</button>
                    <button class="btn-animated">השאר פרטים!</button>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="/scripts/index.js"></script>
    </body>
</html>