<!DOCTYPE html>
<html>
    <head>
        <title>עירוניה 2021-2022</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/447ab8d56a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section class="landing">
            <div class="landing-inner" dir="rtl">
                <img src="/images/amuta-logo.png" class="logo-img lg">
                <img src="/images/ironia-logo.png" class="logo-img">
                <p>חברות בעמותה לעונת 2021/22</p>
                <h1>מתחילים בקרוב!</h1>
                <div class="countdown" dir="rtl"></div>
                <div class="buttons">
                    <button class="btn-animated">מסלולי הצטרפות</button>
                    <button class="btn-animated">על העמותה</button>
                    <button class="btn-animated">השאר פרטים!</button>
                </div>
                <div class="sponsporships" dir="rtl" hidden>
                    <div class="gold" dir="rtl">
                        <h2>ספונסר ראשי</h2>

                        <p><i class="fas fa-medal"></i></p>
                        <p><i class="fas fa-male"></i> + <i class="fas fa-female"></i> צירוף בן/בת משפחה</p>
                        <p><i class="fas fa-gift"></i> מתנת הצטרפות יחודית</p>
                        <p><i class="fas fa-ticket-alt"></i> מנוי משפחתי</p>
                        <hr>
                        <p class="price">299₪ לחודש / 3,588₪ לעונה</p>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="/scripts/index.js"></script>
    </body>
</html>