<!DOCTYPE html>
<html>
    <head>
        <title>עירוניה 2022-2023: חברות בעמותה</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index2.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- <script src="https://kit.fontawesome.com/447ab8d56a.js" crossorigin="anonymous"></script> -->
    </head>
    <body>
        <div class="container text-center">
            <div class="row" id="logoRow">
                <div class="col-12" id="images">
                    <img src="/images/amuta-logo.png" class="logo-img logoLg">
                    <img src="/images/ironia-logo.png" class="logo-img w-25">
                </div>
            </div>
            <div class="row justify-content-center" id="headers">
                <div class="col-10 darkBg border border-3 border-dark rounded">
                    <h1 class="display-3 text-dark fw-bold rounded">חברות בעמותה לעונת 2022/23</h1>
                </div>
            </div>
            <div class="row mt-3 justify-content-center teaser" dir="rtl">
                <div class="col-8 darkBg border border-3 border-dark rounded">
                    <p class="display-4 text-dark fw-bold rounded">מתחילים בעוד...</p>
                </div>
            </div>
            <div class="countdown mt-4 row justify-content-center" dir="rtl"></div>
            <div class="row mt-5" id="buttons" dir="rtl">
                <div class="col">
                    <!-- <button class="btn btn-lg btn-primary" id="sponsBtn"><span class="h1 bold" id="sponsBtnSpan">הצטרפות באשראי</span></button> -->
                    <a href="https://app.icount.co.il/m/47ff9" target="_blank" class="join-link"><button class="btn btn-lg btn-primary"><span class="h1 bold">להצטרפות באשראי</span></button></a>
                    <a href="https://app.icount.co.il/m/023e6" target="_blank" class="join-link"><button class="btn btn-lg btn-primary"><span class="h1 bold">להצטרפות בהו"ק</span></button></a>
                </div>
            </div>
            <!-- <div class="row hidden mt-4" id="sponsorships">
                <div class="row m-0 p-0 justify-content-center" id="sponsorships" dir="rtl">
                    <div class="card col-5 col-lg-3 mt-2 me-1 ms-1 bg-warning bg-gradient shadow-lg">
                        <div class="card-header h2 bold">
                            מסלול בסיסי
                            <p class="card-title text-primary h3"><i class="fas fa-heart"></i></hp>
                        </div>
                        <div class="card-body h4">
                            <p class="card-text"><i class="fas fa-gift"></i> מתנת הצטרפות יחודית</p>
                            <p class="card-text"><i class="fas fa-ticket-alt"></i> מנוי בוגר</p>
                            <p class="transparent">spacer spacer spacer</p>
                            <p class="card-title h4 bold">₪99 לחודש / ₪1,188 לעונה</p>
                            <a href="" target="_blank" class="join-link"><button class="btn btn-lg btn-primary"><span class="h4 bold">הצטרף עכשיו!</span></button></a>
                        </div>
                    </div>
                    
                    <div class="card col-5 col-lg-3 mt-2 me-1 ms-1 bg-warning bg-gradient">
                        <div class="card-header h2 bold">
                            ספונסר קטן
                            <p class="card-title text-primary h3"><i class="fas fa-heart"></i><i class="fas fa-heart"></i></p>
                        </div>
                        <div class="card-body h4">
                            <p class="card-text"><i class="fas fa-gift"></i> מתנת הצטרפות יחודית</p>
                            <p class="card-text"><i class="fas fa-ticket-alt"></i> מנוי זוגי</p>
                            <p class="transparent">spacer spacer spacer</p>
                            <p class="card-title h4 bold">₪129 לחודש / ₪1,548 לעונה</p>
                            <a href="" target="_blank" class="join-link"><button class="btn btn-lg btn-primary"><span class="h4 bold">הצטרף עכשיו!</span></button></a>
                        </div>
                    </div>

                    <div class="card col-5 col-lg-3 mt-2 me-1 ms-1 bg-warning bg-gradient">
                        <div class="card-header h2 bold">
                            ספונסר ארד
                            <p class="card-title text-primary h3"><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="fas fa-heart"></i></p>
                        </div>
                        <div class="card-body h4">
                            <p class="card-text"><i class="fas fa-male"></i> + <i class="fas fa-female"></i> צירוף בן/בת משפחה</p>
                            <p class="card-text"><i class="fas fa-gift"></i> מתנת הצטרפות יחודית</p>
                            <p class="card-text"><i class="fas fa-ticket-alt"></i> מנוי זוגי</p>
                            <p class="card-title h4 bold">₪169 לחודש / ₪2,028 לעונה</p>
                            <a href="" target="_blank" class="join-link"><button class="btn btn-lg btn-primary"><span class="h4 bold">הצטרף עכשיו!</span></button></a>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="card col-5 col-lg-3 mt-2 me-1 ms-1 bg-warning bg-gradient">
                        <div class="card-header h2 bold">
                            ספונסר כסף
                            <p class="card-title text-primary h3"><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="fas fa-heart"></i></p>
                        </div>
                        <div class="card-body h4">
                            <p class="card-text"><i class="fas fa-male"></i> + <i class="fas fa-female"></i> צירוף בן/בת משפחה</p>
                            <p class="card-text"><i class="fas fa-gift"></i> מתנת הצטרפות יחודית</p>
                            <p class="card-text"><i class="fas fa-ticket-alt"></i> מנוי לכל המשפחה!</p>
                            <p class="card-title h4 bold">₪249 לחודש / ₪2,988 לעונה</p>
                            <a href="" target="_blank" class="join-link"><button class="btn btn-lg btn-primary"><span class="h4 bold">הצטרף עכשיו!</span></button></a>
                        </div>
                    </div>

                    <div class="card col-5 col-lg-3 mt-2 me-1 ms-1 bg-warning bg-gradient">
                        <div class="card-header h2 bold">
                            ספונסר זהב
                            <p class="card-title text-primary h3"><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="fas fa-heart"></i></p>
                        </div>
                        <div class="card-body h4">
                            <p class="card-text"><i class="fas fa-male"></i> + <i class="fas fa-female"></i> צירוף בן/בת משפחה</p>
                            <p class="card-text"><i class="fas fa-gift"></i> מתנת הצטרפות יחודית</p>
                            <p class="card-text"><i class="fas fa-ticket-alt"></i> מנוי לכל המשפחה!</p>
                            <p class="card-title h4 bold">₪299 לחודש / ₪3,588 לעונה</p>
                            <a href="" target="_blank" class="join-link"><button class="btn btn-lg btn-primary"><span class="h4 bold">הצטרף עכשיו!</span></button></a>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row justify-content-center mt-5" dir="ltr">
                <div class="col-5 social-icon display-4 p-0 darkBg border border-dark rounded">
                    <a class="soc-link" href="https://www.facebook.com/ironiashdod" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a class="soc-link" href="https://www.instagram.com/ironiashdod" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="soc-link" href="https://twitter.com/ironiashdodfc" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>   
                    <a class="soc-link" href="https://youtube.com/ironiashdod" target="_blank">
                        <i class="fab fa-youtube-square"></i>
                    </a>                   
                </div>
            </div>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        <script type="text/javascript" src="/scripts/index3.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>
