* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    font-family: 'Rubik';
    color: #fff;
    background: #333;
 }
 .socials {
         margin-top: 15px;
         font-size: 45px;
 }

 .social-icon {
         margin-left: 5px;
         margin-right: 5px;
 }
a {
        outline: none;
        text-decoration: none;
}
 a:link {
         color: white;
 }

 a:visited {
         color: white;
 }

 a:hover {
         color: #FFD700; 
 }
  .landing-inner {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 160vh;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 50px;
  }

  .bg {
          background-color: red;
          height: 160vh;
          width: auto;
  }
  .landing {
    height: 160vh;
    background-size: cover;
    background-image: url('/images/backgrounds/bg13.jpg');
    background-position: center;

  }

.logo-img {
    height: 250px;
    width: auto;
    margin: 0 auto;
}

.lg {
    height: 255px;
}

.sponsorships {
        width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    
}

.landing h1 {
    font-size: 2.5em;
    font-weight: 800;
  }
  
.landing h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0;
}

.landing p {
margin-top: 10px;
font-size: 1.5em;
font-weight: 600;
}

.price {
        font-weight: 500;
}
.sponsorships-header {
        margin-top: 15px;
        text-align: center;
        width: 78%;
        height: 160px;
        border: 1px solid white;
        background: #000;
        opacity: 0.7;
        border-radius: 10px;
}

.sponsorships-header p {
        margin-bottom: 10px;
}
.landing .sponsor {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 450px;
    margin: 0 auto;
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid white;
    background: #000;
    opacity: 0.7;
    border-radius: 10px;
}

.sponsor-header {
        height: 150px;
}

.sponsor-header p {
        color:#FFD700;
}

.sponsor-body {
        height: 200px;
}

.sponsor-footer {
        height: 100px;
        border-top: 1px solid white;
}

/* .sponsor p {
        font-size: 25px;
} */
.countdown {
font-size: 50px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.countdown div {
padding: 20px;
border: 1px #fff solid;
border-radius: 10px;
background: #000;
opacity: 0.7;
margin: 5px;
}

.countdown div:nth-child(4) {
background: #17a2b8;
}

.countdown span {
display: block;
font-size: 25px;
}

.btn-animated {
    margin-top: 25px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 16px 47px -15px #590b9b;
    background: none;
    -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 8px;
    overflow: hidden;
    outline: none;
    -webkit-transform: translateZ(0);
        transform: translateZ(0);
}

.btn-animated {
        font-size: 1.75em;
}
.btn-animated span {
position: relative;
z-index: 2;
}
.btn-animated:before, .btn-animated:after {
border-radius: 8px;
content: '';
z-index: -1;
/* background: -webkit-linear-gradient(350deg, #560a9b, #9e158f);
background: linear-gradient(100deg, #560a9b, #9e158f); */
background-color: #FFD700;
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.btn-animated:after {
background: -webkit-linear-gradient(350deg, #003f77, #05c4b5);
background: linear-gradient(100deg, #003f77, #05c4b5);
-webkit-transform: scaleY(0);
        transform: scaleY(0);
-webkit-transform-origin: top;
        transform-origin: top;
-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
-webkit-transition-delay: .1s;
        transition-delay: .1s;
}
.btn-animated:hover {
box-shadow: 0px 16px 47px -15px #003f77;
color: #fff;
}
.btn-animated:hover:after {
-webkit-transform: scaleY(1);
        transform: scaleY(1);
-webkit-transform-origin: bottom;
        transform-origin: bottom;
-webkit-transition-delay: 0s;
        transition-delay: 0s;
}
.btn-animated:active {
-webkit-transform: translateY(4px) translateZ(0);
        transform: translateY(4px) translateZ(0);
box-shadow: 0px 8px 10px -6px #003f77;
}

.close {
        animation: shutoff 0.5s forwards;
}

.open {
        animation: shutoff 0.5s reverse;
}

.hidden {
        display: none;
}

@keyframes shutoff {
        0% {
                opacity: 1;
        }
        100% {
                opacity: 0;
        }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 1000px) {
         .landing .sponsor {
                width: 37%;
                height: 375px;
        }
        .sponsor-header {
                height: 100px;
        }
        
        .sponsor-body {
                height: 200px;
        }
        
        .sponsor-footer {
                height: 75px;
                border-top: 1px solid white;
        }
        
        .logo-img {
                height: 200px;
                width: auto;
        }

        .lg {
                height: 205px;
        }

        .marginToggle {
                margin-top: 50%;
        }

        .landing {
                height: 100vh;
        }

        .landing-inner {
                height: 100vh;
        }
} */